*
{
   font-family: Palatino, sans-serif;
   font-size: 12px;
   margin: 5px;
   padding: 15px 10px;
   color: black;
   background-color: rgb(255, 224, 13);
}

#headerinside /* For the headers inside a button */
{
   font-size: 16px;
   color: white;
   margin: 0 auto;
   text-align: center;
   padding: 20px 0px;
   background-color: inherit;
}

#caption1 /* Caption of the first picture (top of the website) */
{
   font-size: 10px;
   margin: 10px 565px;
   padding: 0px 0px;
   background-color: inherit;
}

#caption2 /* Caption of the second picture (the trophy) */
{
   font-size: 10px;
   margin: 0px 592px;
   padding: 10px 0px;
   background-color: inherit;
}

#headcenter /* similar use to headerinside */
{
   font-size: 16px;
   color: white;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 0px;
   background-color: inherit;
}

.pic1 /* To style the picture at the top of the page */
{
    display: block;
    padding: 0px 0px;
    margin: 0px auto;
    width: 600px;
    height: 350px;
}

.pic2 /* To style the second picture (trophy) */
{
    display: block;
    padding: 10px 0px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.collapsible /* For the buttons */
{
  background-color: rgb(14, 175, 20);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover /* Changes the button's color when the mouse is hovering over it */
{
  background-color: green;
}

.content /* Inside the button */
{
    width: 50%;
    padding: 0 18px;
    color: black;
    display: none;
    hover: middle;
    overflow: hidden;
    background-color: green;
    margin: 0 auto;
}

.inside /* Styling the tables */
{
   margin: 0 auto;
   text-align: center;
   padding: none;
   hover: middle;
   color: black;
   border: solid green;
   border-radius: 15px;
   background-color: green;
}

#tablestuff /* More table styling */
{
   text-align: center;
   margin: 0px auto;
   color: black;
   background-color: green;
}

#randomizer /* For styling the name of the team given by the randomize button */
{
   text-align: center;
   color: black;
   font-size: 20px;
   margin: 0px auto;
   padding-top: 20px;
   background-color: inherit;
}

#clicker /* Styling the click button for the randomize button */
{
   text-align: center;
   font-size: 25px;
   border: solid green;
   display: block;
   cursor: pointer;
   outline: none;
   margin: 0px auto;
   padding: 8px 10px;
   color: green;
   background-color: inherit;
}

#final /* For the header above the randomize button */
{
   text-align: center;
   font-size: 25px;
   margin: 0px auto;
   padding-top: 50px;
   padding-bottom: 30px;
   color: black;
   background-color: inherit;
}
